<div class="container mt-5">
    <div class="row">

            <h2>Estos son los horarios de tu curso</h1>
                <div class="col-md-8">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>hora</th>
                                <th>lunes</th>
                                <th>martes</th>
                                <th>miercoles</th>
                                <th>jueves</th>
                                <th>viernes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reestructuracion}}
                            <tr>
                                <td>{{hora}}</td>
                                <td>{{lunes}}</td>
                                <td>{{martes}}</td>
                                <td>{{miercoles}}</td>
                                <td>{{jueves}}</td>
                                <td>{{viernes}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <form action="/" method="get"class="form">
                <button class="btn btn-primary">Volver</button>
                </form>
      
    </div>
</div>